{
    "extends": "airbnb",
    "env": {
        "browser": true
    },
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "rules": {
        "import/no-extraneous-dependencies": [
            "error",
            { "devDependencies": true }
        ],
        "import/no-named-as-default": [
            "off"
        ],
        "import/extensions": [
            "off"
        ],
        "import/prefer-default-export": [
            "off"
        ],
        "react/jsx-filename-extension": [
            "error",
            { "extensions": [".js"] }
        ],
        "react/prefer-stateless-function": [
            "off"
        ]
    }
}